.current-spots-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
  max-width: 1600px;
  margin-left: 200px;
  margin-right: 200px;
}

.spot-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spot-tile-manage {
  height: 405px;
  width: 325px;
  display: grid;
  grid-template-rows: 1fr 40px 40px;
  border: 1px solid rgb(255, 166, 107);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.spot-image > img {
  width: 325px;
  height: 325px;
  background-size: cover;
  background-position: center;
}

.spot-details {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-state {
  font-size: 18px;
  color: rgb(255, 166, 107);
}

.star-rating {
  font-size: 18px;
  color: rgb(255, 166, 107); 
}

.price-per-night {
  font-size: 25px;
  color: rgb(196, 107, 47); 
  padding-left: 16px;
  padding-bottom: 8px;
}

.new-star {
  font-size: 18px;
  color: rgb(255, 166, 107);
}

.update-delete {
  display: flex;
  gap: 100px;
  margin-bottom: 20px;
}

.update-delete button {
  cursor: pointer;
  width: 100px;
}

.to-new {
  width: 200px;
  margin-left: 220px;
  margin-bottom: 20px;
}

.manage-spots-h1 {
  text-align: start;
  margin-left: 220px;
}