.review-modal {
  display: flex;
  flex-direction: column;
}

.title-div {
  text-align: center;
  margin-top: -28px;
}

.stars {
  display: flex;
  font-size: 30px;
  gap: 2px;
  align-self: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pre-click {
  color: grey;
  cursor: pointer;
}

.pre-click:hover {
  color: rgba(255, 217, 0, 0.663);
}

.post-click {
  color: gold;
}

.review-modal button:disabled {
  background-color: grey;
  cursor: not-allowed;
}