#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background-color: #232020; */
  
}

#modal-content {
  position: absolute;
  background-color: #232020;
  border: 1px solid rgb(182, 91, 30);
  border-radius: 5px;
  padding: 25px;
}